.list-sheet .sheet-header {
	border-bottom: 1px solid $gray-200;
}

.no-header.list-sheet.sheet {
	border: initial;
	padding: initial;
}

.list-drop-target {
	& * {
		@include common-drop-target;
	}
	border: 2px solid $info !important;
	z-index: 99999;
	@include common-drop-target;
}
